<div>
  <h3><%= @books.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= link_to "Edit", edit_user_path(@user) %></p>
</div>

<% @books.each do |book| %>
<div>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title：<%= link_to book.title, book_path(book) %></p>
  <p>Option：<%= book.body %></p>
</div>
<% end %>