<p id="notice"></p>
<div class="container">
  <div class="row">

  <%= render 'list', user: @book2.user %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
            <%= image_tag @book2.user.get_profile_image(100,100) %>
              <div class="user-name">
              <%=link_to @book2.user.name, user_path(@book2.user) %>
              </div>
            </td>
            <td>
              <%= link_to @book2.title, book_path(@book2.id) %>
            </td>
            <td>
              <%= @book2.body %>
            </td>
            <% if @book2.user == current_user %>
            <td>
              <%= link_to "Edit", edit_book_path(@book2.id), class: "btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book2.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger" %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>